<p style="color: green"><%= notice %></p>

<h1>Stocks</h1>

<div id="stocks">
  <% @stocks.each do |stock| %>
    <%= render stock %>
    <p>
      <%= link_to "Show this stock", listing_stock_path(@listing, stock) %>
    </p>
  <% end %>
</div>

<%= link_to "Buy", buy_stock_path(@listing.id) %><br/>
<%= link_to "Sell", sell_stock_path(@listing.id) %>
