<h1>Sell Stock</h1>

<%= form_with url: listing_stock_path(params[:listing_id], @stock.id), method: :patch do |f| %>

    <div class="field">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, min: 1, max: @stock.quantity.to_s %>
    </div>

    <%= f.hidden_field :transaction_type, value: 'sell' %>

    <div>
        <%= f.submit %>
    </div>
    
<% end %>  


