<h1>edit page</h1>

<h2>Edit Trader Account</h2>

<%= form_with url: '/' + params[:id], method: :patch do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, value: @user.first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, value: @user.last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @user.email %>
  </div>

  <div class="actions">
    <%= f.submit "Create Trader" %>
  </div>
<% end %>