<h1>home page</h1>

<% if can? :manage, Stock %>
    <p>Stocks Stats goes here</p>
    <p>Your current balance is : <%= current_user.balance || 0 %></p>
    <%= link_to 'add balance', {:action => :balance}, :method => :get %>
<% end %>

<% if can? :read, User %>
    <% @users.each do |user| %>
        <div>
            <%= user.first_name %><br/>
            <%= user.last_name %><br/>
            <%= user.email %><br/>
            <% if user.confirmed? %>
                <%= 'approved' %>
            <% else %>
                <%= 'pending' %><br/>
                <%= link_to 'Approve Account?', confirm_user_path(user.id) %>
            <% end %>
            <br/>
            <%= link_to 'Show', user_path(user.id) %>
        </div><br/>    
    <% end %>   
<% end %>


