



<%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>

 <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><span>Hi </span><%= current_user.first_name.capitalize %>!</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id='myInput'class="bg-dark w-100" type="text" placeholder="" ></div>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
       <%= button_to "Log out", destroy_user_session_path, :method => :delete, class:'nav-link px-3 btn' %>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">

      <% if current_user.role == 'trader'%>
        <ul class="nav flex-column">
         <li class="nav-item">
            <%= link_to root_path, class:'nav-link' do %>
              <span data-feather="home"></span>
              Dashboard
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to portfolio_path, class: "nav-link" do%>
              <span data-feather="file"></span>
              Portfolio
             <%end%>
          </li>
        <li class="nav-item">
            <%= link_to listings_path, class: "nav-link" do%>
              <span data-feather="file"></span>
              Listings
             <%end%>
          </li>
           <li class="nav-item">
            <%= link_to transactions_path, class: "nav-link" do%>
              <span data-feather="file"></span>
              Transaction History
             <%end%>
          </li>
          <li class="nav-item">
          <%= link_to balance_path, class: "nav-link" do%>
            <span data-feather="dollar-sign"></span>
              Balance 
            <span data-feather="plus-circle"></span>
            <span><%= number_to_currency current_user.balance %></span>
            <%end%>
          </li>
        </ul>
        <%end%>

        <% if current_user.role == 'admin' %>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Admin</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
             <a class="nav-link" href="/#pendingUser">
              <span data-feather="users"></span>
              <span>Pending Users</span>
              <span class="position-absolute end-5px pending"><%= get_pending_users %></span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/new">
              <span data-feather="users"></span>
              Create a Trader
            </a>
          </li>
          <li class="nav-item">
            <%= link_to transactions_path, class: 'nav-link' do%>
              <span data-feather="file-text"></span>
              Transactions
            <%end%>
          </li>
      
        </ul>

        <% end %>



      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1>Portfolio Page</h1>
    
</div>

<div class='row'>
  <div class=' col-lg-6 mt-4'>
    <div class='rounded mx-auto d-flex align-items-center justify-content-around' >
      <div>
        <span data-feather="activity"></span>
      </div>
      <div class='fw-bold text-center'>
      <p>Total Asset</p>
        <%= get_total_stock_value current_user.id %>
      </div>
    </div>
  </div>
  <div class='col-lg-6  mt-4'>
   <div class='mx-auto d-flex align-items-center justify-content-around' >
      <div>
        <span data-feather="package"></span>
      </div>
      <div class='fw-bold text-center'>
      <p>Stock Owned</p>
        <%= current_user.stocks.count %>
      </div>
    </div>
  </div>
</div>


<div class='container'>
<div class='row'>

<% @stocks.each do |stock|%>

  <div class="mt-3">
    <div class="card ">
<div class='row'>

      <div class="card-body col-lg-6 d-flex flex-column text-center">
        <img src='<%= stock.listing.logo %>' width='150px' class='mb-2 mx-auto'>
        <h2 class="card-title"><%= stock.listing.name %></h2>
        <p class="card-text my-1">Owned $: <span class=' bg-success text-white px-2 py-1 rounded fw-bold'><%= number_to_currency stock.quantity * stock.listing.price %></span></p>
        <p class="card-text my-1">Quantity: <span class='bg-warning text-white px-2 py-1 rounded fw-bold'><%= stock.quantity %></span></p>
        <p class="card-text my-1">Market Price: <span class='bg-danger text-white px-2 py-1 rounded fw-bold'><%= number_to_currency stock.listing.price %></span></p>
        <p class="card-text my-1">Last Trade: <span class=''><%= last_trade_stock(stock.listing.ticker) %></span></p>



        <div class='row'>
        <div class='col-lg-6'>
        <%= link_to listing_path(stock.listing.id), class:"btn btn-primary mt-3" do %>
          Buy
          <% end %>
          </div>
        <div class='col-lg-6'>
        <%= link_to listing_path(stock.listing.id), class:"btn btn-danger mt-3" do %>
          Sell
          <% end %>
          </div>
          </div>
      </div>
      <div class='col col-lg-6 d-flex align-items-center'>
      <canvas class="my-6 w-100 mychart" id="myChart" ></canvas> 
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>


    </main>
  </div>
  
</div>







    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

      <%= javascript_include_tag "dashboard"  %>    

